body {
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #0A1821;
    height: 82px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1em; 
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px; 
    margin-right: 10px;
}
.imagelogo{
    padding-left: 80px;
}
.navtext{
    padding-left: 40px;
    font-family: Nunito, sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.navcontent{
    padding-left:500px;
    margin-top: 25px;
    font-family: Nunito, sans-serif;

}
.navtext2{
    padding-left: 20px;
    font-family: Nunito, sans-serif;
}

.nav1{
    margin-top: 15px;
}
.image2{
    margin-top: -10px;
    width:25px;
    padding-left: 15px;
}
.image3{
    width:25px;
    padding-left: 25px;
}
.imgsec1{
    margin:40px;
    width:1380px;
    height: 560px;
    margin-left: 70px;
    border-radius: 20px;
}
.head1{
    text-align: center;
    margin: 50px;
    font-family: Nunito, sans-serif;
    color: #313033;
}
.p1{
    font-size: 20px;
}
.sec2{
    display:flex;

}
.sec2img{
    margin-left: 80px;;
}
.sec2hd{
    font-family: Nunito, sans-serif;
    color: #313033;
    font-size: 20px;
    margin: 30px;
    margin-top: 80px;
    font-weight: bold;
    line-height: 27px;
}
.sec2p{
    margin: 30px;
    margin-top: 40px;
    color:#4f4f4f;
    font-weight: 400;
    font-family: Nunito, sans-serif;
    font-size: 20px;
}
.sec2btn{
    background-color: #001e6c;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  font-size: 16px;
  margin: 50px 40px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 700;
}
.sec3{
    display: flex;
}
video{
    margin: 50px;
    margin-left: 200px;
}
.sec3s2{
    text-align: center;
    font-family:Nunito, sans-serif;
    color:#4f4f4f;
}
.sec3p1{
  font-size: 20px;
  margin-top: 250px;
  margin-left: 130px;
}
.sec3p2{
    line-height:0;
    font-size: 32px;
    font-weight: bold;
    margin-left: 130px;
}
.sec4{
    position: relative;
    cursor: pointer;
    background-color: #eff5ff;
    font-family:Nunito, sans-serif;
    height: 600px;
}
.sec4s1{
    color:#4f4f4f;
    text-align: center;
}
.sec4p1{
    padding-top: 20px;
    font-size: 20px;
}
.sec4p2{
    line-height:0;
    font-size: 32px;
    font-weight: bold;
}
.sec4s2{
    font-size: 20px;
    display: flex;
    color:#4f4f4f;
    font-family:Nunito, sans-serif;
}

.sec4s2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sec4s2p1{
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.secBtn{
    background-color: #001e6c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 500;
    width: 130px;
    height: 50px;
    margin-left: 700px;
    margin-top: 25px;
}
.sec5{
    /* display: flex;
    flex-direction: row; */
    /* color:#313033; */
}
.sec5img{
    margin: 20px;
    margin-left: 200px;
}
.sec5p1{
    padding-top:60px;
    margin-left: 150px;
    margin-top: 130px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family:Nunito, sans-serif;
}
.sec5Btn{
    background-color: #001e6c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 500;
    width: 230px;
    height: 50px;
    margin-left: 350px;
}
.sec5s1{
    display: flex;
    flex-direction: row;
}
.sec51{
    height: 10px;
}
.sec5s2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family:Nunito, sans-serif;
    color:#313033;
}
.sec5s2left{
 text-align: center;
}
.sec5s2p1{
    font-size: 32px;
    font-weight: bold;
    margin-top: 130px;
}
.sec5s2p2{
    font-size: 20px;
}
.sec5Btn2{
    background-color: #001e6c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 700;
    padding: 16px;
    width: 300px;
    height: 50px;
}
.sec6{
    background-color: #D7E2FF;
    display: flex;
    flex-direction: row;
    font-family:Nunito, sans-serif;
    text-align: center;
    justify-content:space-evenly;
    height: 600px;
}
.sec5left{
    color:#313033;
}
.sec6p1{
    margin-top: 200px;
    font-size: 32px;
    font-weight: bold;
}
.sec6p2{
    font-size: 20px;
}
.sec6Btn{
    background-color: #001e6c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 700;
    padding: 16px;
    width: 250px;
    height: 50px;
}
.sec6 img{
    margin-top: 100px;
}
.sec7{
    display: flex;
    flex-direction: row;
    font-family:Nunito, sans-serif;
    color:#313033;
    text-align: center;
    justify-content: space-evenly;
    height: 500px;
}
.sec7p1{
    margin-top: 150px;
    font-size: 32px;
    font-weight: bold;
}
.sec7p2{
    font-size: 20px;
    line-height: 27px;
}
.sec7Btn{
    background-color: #001e6c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    font-weight: 700;
    padding: 16px;
    width: 300px;
    height: 50px;
}
.sec7 img{
    margin-top: 25px;
   height: 430px;
}
.sec8{
    background-image: url(image/sec8bgimg.png);
    display: flex;
    flex-direction: row;
    font-family:Nunito, sans-serif;
    text-align: center;
    justify-content: space-evenly;
    height: 620px;
}
.sec8p1{
    margin-top: 200px;
    color: white;
    font-size: 32px;
}
.sec8p2{
    font-size: 20px;
    line-height: 27px;
    color: white;
}
.sec8Btn{
    background-color:white;
    border: none;
    color:black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100px;
    padding: 16px;
    width: 300px;
    height: 50px;
}
.sec8 img{
    height: 490px;
    margin-top: 100px;
    margin-right: 50px;
}
.sec9{
    font-family:Nunito, sans-serif;
    color:#4f4f4f;
    text-align: center;
    cursor: pointer;
}
.sec9p1{
    font-size: 20px;
}
.sec9p2{
    font-size: 32px;
    font-weight: bold;
}
.sec9p3{
    color: black;
    font-size: 20px;
    font-weight: 600px;
}
.sec9 img{
    border-radius: 50% ;
}
.sec10{
    background-color: #001722;
    display: flex;
    flex-direction: row;
    font-family:Nunito, sans-serif;
    justify-content: space-around;
}
.sec10lefth1{
    padding-top:40px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.sec10leftp1{
    font-size: 20px;
    color: #c9c5ca;
}
.sec10 img{
    width: 30px;
}
.sec10link{
    color: blue;
    font-size: 20px;
}